{
  "plugins": ["transform-react-jsx-img-import", "react-hot-loader/babel"],
  "presets": ["es2015", "stage-0", "react"],
  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
